header {
    text-align: center;
    color: #DCDCDC;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 5em;
        text-transform: uppercase;
        margin: 30px 20px;
    }

    nav {
        ul {
            display: flex;
            justify-content: center;
            
            border-bottom: 3px solid #dcdcdc;
            padding-bottom: 20px;
            min-width: 650px;
            
            li {
                list-style: none;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0px 15px;
                font-size: 1.5em;
                cursor: pointer;

                &.selected {
                    color: #fd9a00;
                }
            }
        }
    }
}
